<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="server" connectionString="Server=192.168.250.25;Database=graduates;user=Pavel;password=~Pss~JrY"/>
		<add name="postgres" connectionString="Host=localhost;Username=postgres;Password=1497;Database=graduates"/>
	</connectionStrings>
</configuration>